@model LoginViewModel

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Login";
}

<div class="container mt-120">
    <div class="login-container">
        <h2 class="mb-4 text-center">Login</h2>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email address</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="passwordField" placeholder="Enter your password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" asp-for="RememberMe" />
                <label class="form-check-label" asp-for="RememberMe"> @Html.DisplayNameFor(model => model.RememberMe)</label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-prim">Login</button>
            </div>
        </form>
        <div class="mt-3 text-center">
            <a asp-action="Register">Don't have an account? Register here</a>
        </div>
        <div class="mt-3 text-center">
            @if (Model.Schemes.Count() == 0) 
            { 
                <p>dddddddddddd</p>
            } 
            else 
            { 
                <form asp-action="ExternalLogin"> 
                    <div> 
                        @foreach (var provider in Model.Schemes) 
                        {
                            <button type="submit" class="" name="provider" value="@provider.Name">
                                Login With @provider.DisplayName 
                            </button> 
                        }
                    </div> 
                </form> 
            } 
        </div>
    </div>
</div>

@section Styles {
    <style>
        body {
            /* background-image: url('/images/crowded_people.jpg');  */
            /* background-size: cover; */
            background-repeat: no-repeat;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/cover.jpg');
            background-size: cover;
            background-position: center;
        }

        .login-container {
            max-width: 500px;
            background-color: rgba(255, 255, 255);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin: auto;
            margin-top: 50px;
        }

        .form-label {
            font-weight: bold;
        }

        .btn-prim {
            background-color: #0e1b4d;
            border-color: #0e1b4d;
            color: white;
        }

        .btn-prim:hover {
            background-color: white;
            border: #0e1b4d 1px solid;
            color: #0e1b4d;
        }
    </style>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
}